# Sumo Cleaner
## Cleaning and Wrangling of banzuke.csv and results.csv

In [3]:
import pandas as pd

In [4]:
banzuke = pd.read_csv("data/banzuke.csv")
banzuke.head()

,basho,id,rank,rikishi,heya,shusshin,birth_date,height,weight,prev,prev_w,prev_l
0,1983.01,1354,Y1e,Chiyonofuji,Kokonoe,Hokkaido,1955-06-01,182.0,116.0,Y1e,14.0,1.0
1,1983.01,4080,Y1w,Kitanoumi,Mihogaseki,Hokkaido,1953-05-16,179.0,165.0,Y2eHD,9.0,3.0
2,1983.01,4095,Y2eHD,Wakanohana,Futagoyama,Aomori,1953-04-03,186.0,133.0,Y1w,0.0,0.0
3,1983.01,4104,O1e,Takanosato,Futagoyama,Aomori,1952-09-29,181.0,144.0,O1e,10.0,5.0
4,1983.01,4112,O1w,Kotokaze,Sadogatake,Mie,1957-04-26,183.0,163.0,O1w,10.0,5.0

In [5]:
banzuke = banzuke.rename({'basho': 'tournament_date', 'rikishi': 'wrestler', 'heya': 'stable', 'shusshin': 'birth_place', 'prev': 'previous_rank', 'prev_w': 'previous_wins', 'prev_l': 'previous_losses'}, axis="columns")
banzuke.tail()

,tournament_date,id,rank,wrestler,stable,birth_place,birth_date,height,weight,previous_rank,previous_wins,previous_losses
169100,2021.05,12699,Jk25w,Osanai,Takasago,Aomori,1999-03-01,174.0,122.0,Mz,0.0,0.0
169101,2021.05,12700,Jk26e,Abe,Oguruma,Kanagawa,2003-01-07,181.0,128.0,Mz,0.0,0.0
169102,2021.05,12701,Jk26w,Sonoshun,Arashio,Kagoshima,2002-11-18,167.0,75.0,Mz,0.0,0.0
169103,2021.05,12702,Jk27e,Fujiseiun,Fujishima,Saitama,1997-12-05,178.0,118.0,Mz,0.0,0.0
169104,2021.05,12703,Jk27w,Suguro,Fujishima,Saitama,1998-11-23,168.0,118.0,Mz,0.0,0.0

In [6]:
banzuke.dtypes

tournament_date    float64
id                   int64
rank                object
wrestler            object
stable              object
birth_place         object
birth_date          object
height             float64
weight             float64
previous_rank       object
previous_wins      float64
previous_losses    float64
dtype: object

In [7]:
import datetime

In [8]:
banzuke['tournament_date'] = pd.to_datetime(banzuke['tournament_date'].astype(str), format='%Y.%m')
banzuke['birth_date'] = pd.to_datetime(banzuke['birth_date'].astype(str), format='%Y-%m-%d')
banzuke.tail()

,tournament_date,id,rank,wrestler,stable,birth_place,birth_date,height,weight,previous_rank,previous_wins,previous_losses
169100,2021-05-01,12699,Jk25w,Osanai,Takasago,Aomori,1999-03-01,174.0,122.0,Mz,0.0,0.0
169101,2021-05-01,12700,Jk26e,Abe,Oguruma,Kanagawa,2003-01-07,181.0,128.0,Mz,0.0,0.0
169102,2021-05-01,12701,Jk26w,Sonoshun,Arashio,Kagoshima,2002-11-18,167.0,75.0,Mz,0.0,0.0
169103,2021-05-01,12702,Jk27e,Fujiseiun,Fujishima,Saitama,1997-12-05,178.0,118.0,Mz,0.0,0.0
169104,2021-05-01,12703,Jk27w,Suguro,Fujishima,Saitama,1998-11-23,168.0,118.0,Mz,0.0,0.0

In [9]:
banzuke.dtypes

tournament_date    datetime64[ns]
id                          int64
rank                       object
wrestler                   object
stable                     object
birth_place                object
birth_date         datetime64[ns]
height                    float64
weight                    float64
previous_rank              object
previous_wins             float64
previous_losses           float64
dtype: object

In [10]:
banzuke["rank"].unique()

array(['Y1e', 'Y1w', 'Y2eHD', 'O1e', 'O1w', 'O2wHD', 'S1e', 'S1w', 'K1e',
       'K1w', 'M1e', 'M1w', 'M2e', 'M2w', 'M3e', 'M3w', 'M4e', 'M4w',
       'M5e', 'M5w', 'M6e', 'M6w', 'M7e', 'M7w', 'M8e', 'M8w', 'M9e',
       'M9w', 'M10e', 'M10w', 'M11e', 'M11w', 'M12e', 'M12w', 'M13e',
       'M13w', 'M14e', 'M14w', 'J1e', 'J1w', 'J2e', 'J2w', 'J3e', 'J3w',
       'J4e', 'J4w', 'J5e', 'J5w', 'J6e', 'J6w', 'J7e', 'J7w', 'J8e',
       'J8w', 'J9e', 'J9w', 'J10e', 'J10w', 'J11e', 'J11w', 'J12e',
       'J12w', 'J13e', 'J13w', 'Ms1e', 'Ms1w', 'Ms2e', 'Ms2w', 'Ms3e',
       'Ms3w', 'Ms3wHD', 'Ms4e', 'Ms4w', 'Ms5e', 'Ms5w', 'Ms6e', 'Ms6w',
       'Ms7e', 'Ms7w', 'Ms8e', 'Ms8w', 'Ms9e', 'Ms9w', 'Ms10e', 'Ms10w',
       'Ms11e', 'Ms11w', 'Ms12e', 'Ms12w', 'Ms13e', 'Ms13w', 'Ms14e',
       'Ms14w', 'Ms15e', 'Ms15w', 'Ms16e', 'Ms16w', 'Ms17e', 'Ms17w',
       'Ms18e', 'Ms18w', 'Ms19e', 'Ms19w', 'Ms20e', 'Ms20w', 'Ms21e',
       'Ms21w', 'Ms22e', 'Ms22w', 'Ms23e', 'Ms23w', 'Ms24e', 'Ms24w',
       'Ms25e', 'Ms25w', 'Ms26e', 'Ms26w', 'Ms27e', 'Ms27w', 'Ms28e',
       'Ms28w', 'Ms29e', 'Ms29w', 'Ms30e', 'Ms30w', 'Ms31e', 'Ms31w',
       'Ms32e', 'Ms32w', 'Ms33e', 'Ms33w', 'Ms34e', 'Ms34w', 'Ms35e',
       'Ms35w', 'Ms36e', 'Ms36w', 'Ms37e', 'Ms37w', 'Ms38e', 'Ms38w',
       'Ms39e', 'Ms39w', 'Ms40e', 'Ms40w', 'Ms41e', 'Ms41w', 'Ms42e',
       'Ms42w', 'Ms43e', 'Ms43w', 'Ms44e', 'Ms44w', 'Ms45e', 'Ms45w',
       'Ms46e', 'Ms46w', 'Ms47e', 'Ms47w', 'Ms48e', 'Ms48w', 'Ms49e',
       'Ms49w', 'Ms50e', 'Ms50w', 'Ms51e', 'Ms51w', 'Ms52e', 'Ms52w',
       'Ms53e', 'Ms53w', 'Ms54e', 'Ms54w', 'Ms55e', 'Ms55w', 'Ms56e',
       'Ms56w', 'Ms57e', 'Ms57w', 'Ms58e', 'Ms58w', 'Ms59e', 'Ms59w',
       'Ms60e', 'Ms60w', 'Sd1e', 'Sd1w', 'Sd2e', 'Sd2w', 'Sd3e', 'Sd3w',
       'Sd4e', 'Sd4w', 'Sd5e', 'Sd5w', 'Sd6e', 'Sd6w', 'Sd7e', 'Sd7w',
       'Sd8e', 'Sd8w', 'Sd9e', 'Sd9w', 'Sd10e', 'Sd10w', 'Sd11e', 'Sd11w',
       'Sd12e', 'Sd12w', 'Sd13e', 'Sd13w', 'Sd14e', 'Sd14w', 'Sd15e',
       'Sd16e', 'Sd16w', 'Sd17e', 'Sd17w', 'Sd18e', 'Sd18w', 'Sd19e',
       'Sd19w', 'Sd20e', 'Sd20w', 'Sd21e', 'Sd21w', 'Sd22e', 'Sd22w',
       'Sd23e', 'Sd23w', 'Sd24e', 'Sd24w', 'Sd25e', 'Sd25w', 'Sd26e',
       'Sd26w', 'Sd27e', 'Sd27w', 'Sd28e', 'Sd28w', 'Sd29e', 'Sd29w',
       'Sd30e', 'Sd30w', 'Sd31e', 'Sd31w', 'Sd32e', 'Sd32w', 'Sd33e',
       'Sd33w', 'Sd34e', 'Sd34w', 'Sd35e', 'Sd35w', 'Sd36e', 'Sd36w',
       'Sd37e', 'Sd37w', 'Sd38e', 'Sd38w', 'Sd39e', 'Sd39w', 'Sd40e',
       'Sd40w', 'Sd41e', 'Sd41w', 'Sd42e', 'Sd42w', 'Sd43e', 'Sd43w',
       'Sd44e', 'Sd44w', 'Sd45e', 'Sd45w', 'Sd46e', 'Sd46w', 'Sd47e',
       'Sd47w', 'Sd48e', 'Sd48w', 'Sd49e', 'Sd49w', 'Sd50e', 'Sd50w',
       'Sd51e', 'Sd51w', 'Sd52e', 'Sd52w', 'Sd53e', 'Sd53w', 'Sd54e',
       'Sd54w', 'Sd55e', 'Sd55w', 'Sd56e', 'Sd56w', 'Sd57e', 'Sd57w',
       'Sd58e', 'Sd58w', 'Sd59e', 'Sd59w', 'Sd60e', 'Sd60w', 'Sd61e',
       'Sd61w', 'Sd62e', 'Sd62w', 'Sd63e', 'Sd63w', 'Sd64e', 'Sd64w',
       'Sd65e', 'Sd65w', 'Sd66e', 'Sd66w', 'Sd67e', 'Sd67w', 'Sd68e',
       'Sd68w', 'Sd69e', 'Sd69w', 'Sd70e', 'Sd70w', 'Sd71e', 'Sd71w',
       'Sd72e', 'Sd72w', 'Sd73e', 'Sd73w', 'Sd74e', 'Sd74w', 'Sd75e',
       'Sd75w', 'Sd76e', 'Sd76w', 'Sd77e', 'Sd77w', 'Sd78e', 'Sd78w',
       'Sd79e', 'Sd79w', 'Sd80e', 'Sd80w', 'Sd81e', 'Sd81w', 'Sd82e',
       'Sd82w', 'Sd83e', 'Sd83w', 'Sd84e', 'Sd84w', 'Sd85e', 'Sd85w',
       'Sd86e', 'Sd86w', 'Sd87e', 'Sd87w', 'Sd88e', 'Sd88w', 'Sd89e',
       'Sd89w', 'Sd90e', 'Sd90w', 'Jd1e', 'Jd1w', 'Jd2e', 'Jd2w', 'Jd3e',
       'Jd3w', 'Jd4e', 'Jd4w', 'Jd5e', 'Jd5w', 'Jd6e', 'Jd6w', 'Jd7e',
       'Jd7w', 'Jd8e', 'Jd8w', 'Jd9e', 'Jd9w', 'Jd10e', 'Jd10w', 'Jd11e',
       'Jd11w', 'Jd12e', 'Jd12w', 'Jd13e', 'Jd13w', 'Jd14e', 'Jd14w',
       'Jd15e', 'Jd15w', 'Jd16e', 'Jd16w', 'Jd17e', 'Jd17w', 'Jd18e',
       'Jd18w', 'Jd19e', 'Jd19w', 'Jd20e', 'Jd20w', 'Jd21e', 'Jd21w',
       'Jd22e', 'Jd22w', 'Jd23e', 'Jd23w', 'Jd24e', 'Jd24w', 'Jd25e',
       'Jd25w', 'Jd26e', 'Jd26w', 'Jd27e', 'Jd27w', 'Jd28e', 'Jd28w',
       'Jd29e', 'Jd29w', 'Jd30e', 'Jd30w', 'Jd31e', 'Jd31w', 'Jd32e',
       'Jd32w', 'Jd33e', 'Jd33w', 'Jd34e', 'Jd34w', 'Jd35e', 'Jd35w',
       'Jd36e', 'Jd36w', 'Jd37e', 'Jd37w', 'Jd38e', 'Jd38w', 'Jd39e',
       'Jd39w', 'Jd40e', 'Jd40w', 'Jd41e', 'Jd41w', 'Jd42e', 'Jd42w',
       'Jd43e', 'Jd43w', 'Jd44e', 'Jd44w', 'Jd45e', 'Jd45w', 'Jd46e',
       'Jd46w', 'Jd47e', 'Jd47w', 'Jd48e', 'Jd48w', 'Jd49e', 'Jd49w',
       'Jd50e', 'Jd50w', 'Jd51e', 'Jd51w', 'Jd52e', 'Jd52w', 'Jd53e',
       'Jd53w', 'Jd54e', 'Jd54w', 'Jd55e', 'Jd55w', 'Jd56e', 'Jd56w',
       'Jd57e', 'Jd57w', 'Jd58e', 'Jd58w', 'Jd59e', 'Jd59w', 'Jd60e',
       'Jd60w', 'Jd61e', 'Jd61w', 'Jd62e', 'Jd62w', 'Jd63e', 'Jd63w',
       'Jd64e', 'Jd64w', 'Jd65e', 'Jd65w', 'Jd66e', 'Jd66w', 'Jd67e',
       'Jd67w', 'Jd68e', 'Jd68w', 'Jd69e', 'Jd69w', 'Jd70e', 'Jd70w',
       'Jd71e', 'Jd71w', 'Jd72e', 'Jd72w', 'Jd73e', 'Jd73w', 'Jd74e',
       'Jd74w', 'Jd75e', 'Jd75w', 'Jd76e', 'Jd76w', 'Jd77e', 'Jd77w',
       'Jd78e', 'Jd78w', 'Jd79e', 'Jd79w', 'Jd80e', 'Jd80w', 'Jd81e',
       'Jd81w', 'Jd82e', 'Jd82w', 'Jd83e', 'Jd83w', 'Jd84e', 'Jd84w',
       'Jd85e', 'Jd85w', 'Jd86e', 'Jd86w', 'Jd87e', 'Jd87w', 'Jd88e',
       'Jd88w', 'Jd89e', 'Jd89w', 'Jd90e', 'Jd90w', 'Jd91e', 'Jd91w',
       'Jd92e', 'Jd92w', 'Jd93e', 'Jd93w', 'Jd94e', 'Jd94w', 'Jd95e',
       'Jd95w', 'Jd96e', 'Jd96w', 'Jd97e', 'Jd97w', 'Jd98e', 'Jd98w',
       'Jd99e', 'Jd99w', 'Jd100e', 'Jd100w', 'Jd101e', 'Jd101w', 'Jd102e',
       'Jd102w', 'Jd103e', 'Jd103w', 'Jd104e', 'Jd104w', 'Jd105e',
       'Jd105w', 'Jd106e', 'Jd106w', 'Jd107e', 'Jd107w', 'Jd108e',
       'Jd108w', 'Jd109e', 'Jd109w', 'Jd110e', 'Jd110w', 'Jd111e',
       'Jd111w', 'Jd112e', 'Jd112w', 'Jd113e', 'Jd113w', 'Jd114e',
       'Jd114w', 'Jd115e', 'Jd115w', 'Jd116e', 'Jd116w', 'Jd117e',
       'Jd117w', 'Jd118e', 'Jd118w', 'Jd119e', 'Jd119w', 'Jd120e',
       'Jd120w', 'Jd121e', 'Jd121w', 'Jd122e', 'Jd122w', 'Jd123e',
       'Jd123w', 'Jd124e', 'Jd124w', 'Jd125e', 'Jd125w', 'Jd126e',
       'Jd126w', 'Jd127e', 'Jd127w', 'Jd128e', 'Jd128w', 'Jd129e',
       'Jd129w', 'Jd130e', 'Jd130w', 'Jd131e', 'Jd131w', 'Jd132e',
       'Jd132w', 'Jd133e', 'Jd133w', 'Jd134e', 'Jk1e', 'Jk1w', 'Jk2e',
       'Jk2w', 'Jk3e', 'Jk3w', 'Jk4e', 'Jk4w', 'Jk5e', 'Jk5w', 'Jk6e',
       'Jk6w', 'Jk7e', 'Jk7w', 'Jk8e', 'Jk8w', 'Jk9e', 'Jk9w', 'Jk10e',
       'Jk10w', 'Jk11e', 'Jk11w', 'Jk12e', 'Jk12w', 'Jk13e', 'Jk13w',
       'Jk14e', 'Jk14w', 'Jk15e', 'Jk15w', 'Jk16e', 'Jk16w', 'Jk17e',
       'Jk17w', 'Jk18e', 'Jk18w', 'Jk19e', 'Jk19w', 'Jk20e', 'Jk20w',
       'Jk21e', 'Jk21w', 'Jk22e', 'Jk22w', 'Jk23e', 'Jk23w', 'Jk24e',
       'Jk24w', 'Jk25e', 'Jk25w', 'Jk26e', 'Jk26w', 'Jk27e', 'Jk27w',
       'Jk28e', 'Jk28w', 'Jk29e', 'Jk29w', 'Jk30e', 'Jk30w', 'Jk31e',
       'Jk31w', 'Jk32e', 'Jk32w', 'Jk33e', 'Jk33w', 'Jk34e', 'Jk34w',
       'Jk35e', 'Jk35w', 'Jk36e', 'Jk36w', 'O2eHD', 'Ms60TD', 'Sd15w',
       'Jd134w', 'Jd135e', 'Jd135w', 'Jd136e', 'Jd136w', 'Jd137e',
       'Jd137w', 'Jd138e', 'Jd138w', 'Jd139e', 'Jd139w', 'Jd140e',
       'Jd140w', 'Jd141e', 'Jd141w', 'Jd142e', 'Jd142w', 'Jd143e',
       'Jd143w', 'Jd144e', 'Jd144w', 'Jd145e', 'Jd145w', 'Jd146e',
       'Jd146w', 'Jd147e', 'Jd147w', 'Jd148e', 'Jd148w', 'Jd149e',
       'Jd149w', 'Jd150e', 'Jd150w', 'Jd151e', 'Jd151w', 'Jk37e', 'Jk37w',
       'Jk38e', 'Jk38w', 'Jk39e', 'Jk39w', 'Jk40e', 'Jk40w', 'Jk41e',
       'Jk41w', 'Jk42e', 'Jk42w', 'Jk43e', 'Jk43w', 'Jk44e', 'Jk44w',
       'Jk45e', 'Jk45w', 'Jk46e', 'Jk46w', 'Jk47e', 'Jk47w', 'Jk48e',
       'Jk48w', 'Jk49e', 'Jk49w', 'Jk50e', 'Jk50w', 'Jk51e', 'Jk51w',
       'Jk52e', 'Jk52w', 'Jk53e', 'Jk53w', 'Jk54e', 'Jk54w', 'Jk55e',
       'Jk55w', 'Jk56e', 'Jk56w', 'Jk57e', 'O3eHD', 'M9eHD', 'Jd152e',
       'Jd152w', 'Ms10eHD', 'Sd91e', 'Sd91w', 'Sd92e', 'Sd92w', 'Sd93e',
       'Sd93w', 'Sd94e', 'Sd94w', 'Sd95e', 'Sd95w', 'Sd96e', 'Sd96w',
       'Sd97e', 'Sd97w', 'Sd98e', 'Sd98w', 'Sd99e', 'Sd99w', 'Sd100e',
       'Sd100w', 'Jk44wHD', 'Jk57w', 'Jk58e', 'Jk58w', 'Jk59e', 'Jk59w',
       'Jk60e', 'Jk60w', 'Jk61e', 'Jk61w', 'Jk62e', 'Jk62w', 'S2eHD',
       'Jd153e', 'Jd153w', 'Jd154e', 'Jd154w', 'Jd155e', 'Jd155w',
       'Jd156e', 'Jd156w', 'Jd157e', 'Jd157w', 'Jd158e', 'Jd158w',
       'Jd159e', 'Jd159w', 'Jd160e', 'Jd160w', 'Jd161e', 'Jd161w',
       'Jd162e', 'Jd162w', 'S2wHD', 'O3wHD', 'Jd163e', 'Jd163w', 'Jd164e',
       'Jd164w', 'Jk63e', 'Jk63w', 'Jk64e', 'Jk64w', 'Jk65e', 'Jk65w',
       'Jk66e', 'Jk66w', 'Jk67e', 'Jk67w', 'Jk68e', 'Jk68w', 'Jk69e',
       'Y2wHD', 'Sd101e', 'M15e', 'M15w', 'M16e', 'K2eHD', 'M16w',
       'K2wHD', 'Jk69w', 'Jk70e', 'Jk70w', 'Jk71e', 'Jk71w', 'Jk72e',
       'Jk72w', 'Jk73e', 'Jk73w', 'Jk74e', 'Jk74w', 'Jk75e', 'Jk75w',
       'Jk76e', 'Jk76w', 'Jk77e', 'Jd165e', 'Jd165w', 'Jd166e', 'Jd166w',
       'Jd167e', 'Jd167w', 'Jd168e', 'Jd168w', 'Jd169e', 'Jd169w',
       'Jd170e', 'Jd170w', 'Jd171e', 'Jd171w', 'Jd172e', 'Jd172w',
       'Jd173e', 'Jd173w', 'Jd174e', 'Jd174w', 'Jd175e', 'Jd175w',
       'Jd176e', 'Jd176w', 'Jd177e', 'Jd177w', 'Jd178e', 'Jd178w',
       'Jd179e', 'Jd179w', 'Jd180e', 'Jd180w', 'Jd181e', 'Jd181w',
       'Jd182e', 'Jd182w', 'Jd183e', 'Jd183w', 'Jd184e', 'Jd184w',
       'Jd185e', 'Jd185w', 'Jd186e', 'Jd186w', 'Jd187e', 'Jd187w',
       'Jd188e', 'Jd188w', 'Jd189e', 'Jd189w', 'Jd190e', 'Jd190w',
       'Jd191e', 'Jd191w', 'Jd192e', 'Jd192w', 'Jd193e', 'Jd193w',
       'Jd194e', 'Jd194w', 'Jd195e', 'Jd195w', 'Jd196e', 'Jd196w',
       'Jd197e', 'Jd197w', 'Jd198e', 'Jd198w', 'Jd199e', 'Jd199w',
       'Jd200e', 'Jd200w', 'Jd201e', 'Jd201w', 'Jd202e', 'Jd202w',
       'Jd203e', 'Jd203w', 'Jd204e', 'Jd204w', 'Jd205e', 'Jd205w',
       'Jd206e', 'Jd206w', 'Jd207e', 'Jd207w', 'Jd208e', 'Jd208w',
       'Jd209e', 'Jd209w', 'Jd210e', 'Jd210w', 'Y1eHD', 'O2e', 'O2w',
       'K2w', 'S2w', 'S2e', 'Y2e', 'K2e', 'Y2w', 'O3w', 'O3e', 'Ms15TD',
       'M17e', 'J14e', 'J14w', 'M17w', 'Ms10TD', 'Sd100TD', 'Y1wYO',
       'M18e'], dtype=object)

In [11]:
# A sekitori (関取) is a rikishi (力士, sumo wrestler) who is ranked in one of the top two professional divisions: makuuchi and jūryō.[1] The name literally translates to having taken the barrier, as only a relatively small fraction of those who enter professional sumo achieve sekitori status. (Source: wikipedia)

sekitori = [
    'Y1e', 'Y1eHD', 'Y1w', 'Y1wYO', 'Y2e', 'Y2eHD', 'Y2w', 'Y2wHD',
    'O1e', 'O1w', 'O2e', 'O2eHD', 'O2w','O2wHD', 'O3e','O3eHD', 'O3w', 'O3wHD',
    'S1e', 'S1w', 'S2e', 'S2w', 'S2wHD', 
    'K1e', 'K1w', 'K2e', 'K2eHD', 'K2w', 'K2wHD', 
    'M1e', 'M1w', 'M2e','M2w', 'M3e', 'M3w', 'M4e', 'M4w', 'M5e', 'M5w', 'M6e', 'M6w',
    'M7e', 'M7w', 'M8e', 'M8w', 'M9e', 'M9eHD', 'M9w', 'M10e', 'M10w', 'M11e', 'M11w',
    'M12e', 'M12w', 'M13e', 'M13w', 'M14e', 'M14w', 'M15e', 'M15w', 'M16e',  'M16w', 
    'M17e', 'M17w', 'M18e',
    'J1e', 'J1w', 'J2e', 'J2w', 'J3e', 'J3w','J4e', 'J4w', 'J5e', 'J5w', 'J6e', 'J6w',
    'J7e', 'J7w', 'J8e', 'J8w', 'J9e', 'J9w', 'J10e', 'J10w', 'J11e', 'J11w', 'J12e', 'J12w',
    'J13e', 'J13w', 'J14e', 'J14w'
    ]

In [12]:
# banzukitori is new dataframe that only includes top two divisions
banzukitori = banzuke[banzuke["rank"].isin(sekitori)]
banzukitori.head()

,tournament_date,id,rank,wrestler,stable,birth_place,birth_date,height,weight,previous_rank,previous_wins,previous_losses
0,1983-01-01,1354,Y1e,Chiyonofuji,Kokonoe,Hokkaido,1955-06-01,182.0,116.0,Y1e,14.0,1.0
1,1983-01-01,4080,Y1w,Kitanoumi,Mihogaseki,Hokkaido,1953-05-16,179.0,165.0,Y2eHD,9.0,3.0
2,1983-01-01,4095,Y2eHD,Wakanohana,Futagoyama,Aomori,1953-04-03,186.0,133.0,Y1w,0.0,0.0
3,1983-01-01,4104,O1e,Takanosato,Futagoyama,Aomori,1952-09-29,181.0,144.0,O1e,10.0,5.0
4,1983-01-01,4112,O1w,Kotokaze,Sadogatake,Mie,1957-04-26,183.0,163.0,O1w,10.0,5.0

In [13]:
banzukitori.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15399 entries, 0 to 168503
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tournament_date  15399 non-null  datetime64[ns]
 1   id               15399 non-null  int64
 2   rank             15399 non-null  object
 3   wrestler         15399 non-null  object
 4   stable           15399 non-null  object
 5   birth_place      15399 non-null  object
 6   birth_date       15399 non-null  datetime64[ns]
 7   height           15397 non-null  float64
 8   weight           15397 non-null  float64
 9   previous_rank    15399 non-null  object
 10  previous_wins    15399 non-null  float64
 11  previous_losses  15399 non-null  float64
dtypes: datetime64[ns](2), float64(4), int64(1), object(5)
memory usage: 1.5+ MB

In [14]:
banzukitori = banzukitori.dropna()
banzukitori.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15397 entries, 0 to 168503
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tournament_date  15397 non-null  datetime64[ns]
 1   id               15397 non-null  int64
 2   rank             15397 non-null  object
 3   wrestler         15397 non-null  object
 4   stable           15397 non-null  object
 5   birth_place      15397 non-null  object
 6   birth_date       15397 non-null  datetime64[ns]
 7   height           15397 non-null  float64
 8   weight           15397 non-null  float64
 9   previous_rank    15397 non-null  object
 10  previous_wins    15397 non-null  float64
 11  previous_losses  15397 non-null  float64
dtypes: datetime64[ns](2), float64(4), int64(1), object(5)
memory usage: 1.5+ MB

In [15]:
banzukitori.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15397 entries, 0 to 168503
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   tournament_date  15397 non-null  datetime64[ns]
 1   id               15397 non-null  int64
 2   rank             15397 non-null  object
 3   wrestler         15397 non-null  object
 4   stable           15397 non-null  object
 5   birth_place      15397 non-null  object
 6   birth_date       15397 non-null  datetime64[ns]
 7   height           15397 non-null  float64
 8   weight           15397 non-null  float64
 9   previous_rank    15397 non-null  object
 10  previous_wins    15397 non-null  float64
 11  previous_losses  15397 non-null  float64
dtypes: datetime64[ns](2), float64(4), int64(1), object(5)
memory usage: 1.5+ MB

In [23]:
banzukitori.to_csv("data/banzuke_clean.csv")
banzukitori.head(10)

,tournament_date,id,rank,wrestler,stable,birth_place,birth_date,height,weight,previous_rank,previous_wins,previous_losses
0,1983-01-01,1354,Y1e,Chiyonofuji,Kokonoe,Hokkaido,1955-06-01,182.0,116.0,Y1e,14.0,1.0
1,1983-01-01,4080,Y1w,Kitanoumi,Mihogaseki,Hokkaido,1953-05-16,179.0,165.0,Y2eHD,9.0,3.0
2,1983-01-01,4095,Y2eHD,Wakanohana,Futagoyama,Aomori,1953-04-03,186.0,133.0,Y1w,0.0,0.0
3,1983-01-01,4104,O1e,Takanosato,Futagoyama,Aomori,1952-09-29,181.0,144.0,O1e,10.0,5.0
4,1983-01-01,4112,O1w,Kotokaze,Sadogatake,Mie,1957-04-26,183.0,163.0,O1w,10.0,5.0
5,1983-01-01,4127,O2wHD,Wakashimazu,Futagoyama,Kagoshima,1957-01-12,186.5,121.0,S1e,12.0,3.0
6,1983-01-01,1363,S1e,Hokutenyu,Mihogaseki,Hokkaido,1960-08-08,182.5,138.0,K1w,8.0,7.0
7,1983-01-01,1379,S1w,Asashio,Takasago,Kochi,1955-12-09,181.0,181.0,M1e,9.0,6.0
8,1983-01-01,4116,K1e,Dewanohana,Dewanoumi,Aomori,1951-05-13,185.0,124.0,M1w,9.0,6.0
9,1983-01-01,4134,K1w,Oyutaka,Tokitsukaze,Niigata,1955-03-29,185.5,156.0,M9e,11.0,4.0

In [17]:
results = pd.read_csv('data/results.csv')
results.tail()

,basho,day,rikishi1_id,rikishi1_rank,rikishi1_shikona,rikishi1_result,rikishi1_win,kimarite,rikishi2_id,rikishi2_rank,rikishi2_shikona,rikishi2_result,rikishi2_win
219985,2021.05,15,12130,O2e,Shodai,9-6,1,oshidashi,12055,M8w,Endo,11-4,0
219986,2021.05,15,11927,O2w,Terunofuji,12-3,0,tsukiotoshi,12191,O1w,Takakeisho,12-3,1
219987,2021.05,15,12191,O1w,Takakeisho,12-3,1,tsukiotoshi,11927,O2w,Terunofuji,12-3,0
219988,2021.05,16,11927,O2w,Terunofuji,(12-3),1,hatakikomi,12191,O1w,Takakeisho,(12-3),0
219989,2021.05,16,12191,O1w,Takakeisho,(12-3),0,hatakikomi,11927,O2w,Terunofuji,(12-3),1

In [18]:
results = results.rename({'basho': 'tournament_date', 'rikishi1_id': 'wrestler1_id', 'rikishi1_rank': 'wrestler1_rank', 'rikishi1_shikona': 'wrestler1_name', 'rikishi1_result': 'wrestler1_result',  'rikishi1_win': 'wrestler1_win', 'kimarite': 'finishing_move', 'rikishi2_id': 'wrestler2_id', 'rikishi2_rank': 'wrestler2_rank', 'rikishi2_shikona': 'wrestler2_name', 'rikishi2_result': 'wrestler2_result',  'rikishi2_win': 'wrestler2_win'}, axis="columns")
results.tail()

,tournament_date,day,wrestler1_id,wrestler1_rank,wrestler1_name,wrestler1_result,wrestler1_win,finishing_move,wrestler2_id,wrestler2_rank,wrestler2_name,wrestler2_result,wrestler2_win
219985,2021.05,15,12130,O2e,Shodai,9-6,1,oshidashi,12055,M8w,Endo,11-4,0
219986,2021.05,15,11927,O2w,Terunofuji,12-3,0,tsukiotoshi,12191,O1w,Takakeisho,12-3,1
219987,2021.05,15,12191,O1w,Takakeisho,12-3,1,tsukiotoshi,11927,O2w,Terunofuji,12-3,0
219988,2021.05,16,11927,O2w,Terunofuji,(12-3),1,hatakikomi,12191,O1w,Takakeisho,(12-3),0
219989,2021.05,16,12191,O1w,Takakeisho,(12-3),0,hatakikomi,11927,O2w,Terunofuji,(12-3),1

In [19]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219990 entries, 0 to 219989
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   tournament_date   219990 non-null  float64
 1   day               219990 non-null  int64
 2   wrestler1_id      219990 non-null  int64
 3   wrestler1_rank    219990 non-null  object
 4   wrestler1_name    219990 non-null  object
 5   wrestler1_result  219990 non-null  object
 6   wrestler1_win     219990 non-null  int64
 7   finishing_move    219990 non-null  object
 8   wrestler2_id      219990 non-null  int64
 9   wrestler2_rank    219990 non-null  object
 10  wrestler2_name    219990 non-null  object
 11  wrestler2_result  219990 non-null  object
 12  wrestler2_win     219990 non-null  int64
dtypes: float64(1), int64(5), object(7)
memory usage: 21.8+ MB

In [20]:
results['tournament_date'] = pd.to_datetime(results['tournament_date'].astype(str), format='%Y.%m')
results.tail()

,tournament_date,day,wrestler1_id,wrestler1_rank,wrestler1_name,wrestler1_result,wrestler1_win,finishing_move,wrestler2_id,wrestler2_rank,wrestler2_name,wrestler2_result,wrestler2_win
219985,2021-05-01,15,12130,O2e,Shodai,9-6,1,oshidashi,12055,M8w,Endo,11-4,0
219986,2021-05-01,15,11927,O2w,Terunofuji,12-3,0,tsukiotoshi,12191,O1w,Takakeisho,12-3,1
219987,2021-05-01,15,12191,O1w,Takakeisho,12-3,1,tsukiotoshi,11927,O2w,Terunofuji,12-3,0
219988,2021-05-01,16,11927,O2w,Terunofuji,(12-3),1,hatakikomi,12191,O1w,Takakeisho,(12-3),0
219989,2021-05-01,16,12191,O1w,Takakeisho,(12-3),0,hatakikomi,11927,O2w,Terunofuji,(12-3),1

In [21]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219990 entries, 0 to 219989
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   tournament_date   219990 non-null  datetime64[ns]
 1   day               219990 non-null  int64
 2   wrestler1_id      219990 non-null  int64
 3   wrestler1_rank    219990 non-null  object
 4   wrestler1_name    219990 non-null  object
 5   wrestler1_result  219990 non-null  object
 6   wrestler1_win     219990 non-null  int64
 7   finishing_move    219990 non-null  object
 8   wrestler2_id      219990 non-null  int64
 9   wrestler2_rank    219990 non-null  object
 10  wrestler2_name    219990 non-null  object
 11  wrestler2_result  219990 non-null  object
 12  wrestler2_win     219990 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(7)
memory usage: 21.8+ MB

In [22]:
results.to_csv('data/results_clean.csv')

In [ ]:
#taw = top active wrestler
taw_id_dict = {
    1123: "Hakuho"
    5944: "Tamawashi"
    6463: "Okinoumi"
    6480: "Takayasu"
    6642: "Chiyonokuni"
    6753: "Kaisei"
    7153: "Kotoeko"
    7240: "Chiyomaru"
    11726: "Tokushoryu"
    11728: "Takarafuji"
    11784: "Myogiryu"
    11785: "Chiyoshoma"
    11786: "Aoiyama"
    11840: "Chiyonoo"
    11845: "Kagayaki"
    11855: "Takanosho"
    11927: "Terunofuji"
    11946: "Meisei"
    11985: "Daieisho"
    12024: "Shimanoumi"
    12026: "Hidenoumi"
    12043: "Onosho"
    12051: "Ishiura"
    12055: "Endo"
    12107: "Ichinojo"
    12113: "Tsurugisho"
    12130: "Shodai"
    12191: "Takakeisho"
    12210: "Mitakeumi"
    12226: "Ura"
    12231: "Kiribayama"
    12239: "Hokutofuji"
    12270: "Kotonowaka"
    12273: "Daiamami"
    12291: "Asanoyama"
    12362: "Ichiyamamoto"
    12370: "Wakatakakage"
    12451: "Hoshoryu"
}